{% extends "base.html" %}

{% block sidebar_content %}
    {% if model_chats_list %}
        <div class="model_chats">
            {% for model_chats in model_chats_list %}
                <a href="/bots/model_chat_messages/{{model_chats.id_x}}/">
                    {% if model_chats.id_x == model_chats_id|add:"0" %}
                    <div class="model_chat{{model_chats.id_x}} active_chat">
                        

                        <div class="summarize_chat_button">
                            <a href="/bots/summarize_chat_messages/{{model_chats_id}}/">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5m8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
                                </svg>
                            </a>
                        </div>

                        <div class="model_chat{{model_chats.id_x}} ">
                    
                    {% else %}
                    <div class="model_chat{{model_chats.id_x}} model_chat">
                    {% endif %}
                        <h4>  {{model_chats.model_connection_name}}</h4>
                        <div>
                            <h6> {{model_chats.date_created_x}} </h6>
                            <h5> {{model_chats.model_name}} </h5>
                        </div>
                    </div>
                    {% if model_chats.id_x == model_chats_id|add:"0" %}
                    </div>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
{% if chat_messages_list %}
    <div class="chat_messages_main">
        
        {% for chat_messages in chat_messages_list %}
            {% if chat_messages.chat_sender == 'user' %}
                <div class="chat_messages">
                    <div class="{{chat_messages.chat_sender}}">
                        {{chat_messages.chat_message|safe}}
                        <h6> {{chat_messages.date_created}} </h6>
                    </div>
                </div>
            {% else %}
                <div class="chat_messages">
            
                    <div class="{{chat_messages.chat_sender}}">
                        {{chat_messages.chat_message|safe}}

                        <h6> {{chat_messages.date_created}} </h6>
                        
                        <div class="metadata">
                            <div class="tokens">
                                {{chat_messages.chat_meta | safe}}
                                
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

<div class="form_div">
    <form name='chat_messages_form' id='chat_messages_form' action='' method='post' enctype="multipart/form-data">
        {% csrf_token %}

        {{chat_messages_form.as_p|safe}}
        
        <div class="chat_submit">
            

            <div class="chat_options">
                <div class="button-group">
                <select class="tools button-group" name="tools">
                    {% for i_opt in tools %}
                            <option value={{i_opt}}>{{i_opt}}</option>
                    {% endfor %}
                </select>

                <select class="personalities button-group" name="personalities">
                    {% for i_opt in personalities %}
                            <option value={{i_opt.id}}>{{i_opt.personality_name}}</option>
                    {% endfor %}
                </select>

                <select class="model_agent button-group" name="model_agent">
                    {% for i_opt in model_agent %}
                            <option value={{i_opt.id}}>{{i_opt.model_connection_name}}</option>
                    {% endfor %}
                </select>

                </div>
            </div>

            <label for="file-upload">Choose File</label>
            <input type="file" id="chat_messages_form" name="filename">

            <input type="submit" value="post">
        </div>
    </form>
</div>

<script>
    let msgbox = document.querySelector('.main_container');
            msgbox.scrollTop = msgbox.scrollHeight;
</script>
{% endblock %}